<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="ajax/*.ashx" verb="POST,GET" type="Ajax.PageHandlerFactory, Ajax"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <add name="HttpSoap"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <!--<modules>
      <add name="MyModule" type="MyApp.MyModule" />
    </modules>
    <handlers>
      <add name="MyHandler" path="*.myh" verb="GET" type="MyApp.MyHandler" preCondition="integratedMode" />
    </handlers>-->
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <!--数据库连接配置-->
    <add key="DBClient" value="bee"/>
    <!--物料图片-ftp用户名和密码 【eWluZ3lhbl9wdA==】【N2gqXmclazdFMkFTajNraQ==】-->
    <add key="FtpUserPt" value="yingyan_pt"/>
    <add key="FtpPwdPt" value="7h*^g%k7E2ASj3ki"/>
    <!--物料图片-ftp地址【ZnRwOi8vMTE1LjIzOC43Mi4yNDM6MTAwMjEv】-->
    <add key="FtpUrlPt" value="ftp://115.238.72.243:10021/"/>
    <!--物料图片-访问地址【aHR0cDovL2ZhY2RuMDEucmVzb3VyY2UuYmFvbWlodWEuY29tL3dhcHRnL3B0Lw==】-->
    <add key="PtUrl" value="http://facdn01.resource.baomihua.com/waptg/pt/"/>
    <!--物料APK-ftp用户名和密码【eWluZ3lhbl9hcHA=】【dTJORHJzJXpodmFAU3M2UA==】-->
    <add key="FtpUserApp" value="yingyan_app"/>
    <add key="FtpPwdApp" value="u2NDrs%zhva@Ss6P"/>
    <!--物料APK-ftp地址【ZnRwOi8vMTE1LjIzOC43Mi4yNDM6MTAwMjEv】-->
    <add key="FtpUrlApp" value="ftp://115.238.72.243:10021/"/>
    <!--物料APK-访问地址【aHR0cDovL2ZhY2RuMDEucmVzb3VyY2UuYmFvbWlodWEuY29tL3dhcHRnL2Fway8=】-->
    <add key="AppUrl" value="http://facdn01.resource.baomihua.com/waptg/apk/"/>
    <!--FTP编码-->
    <add key="EncodingType" value="UTF8"/>
    <!--广告管理下列表默认一页显示记录数-->
    <add key="DefaultPageSize" value="20"/>
    <!--广告管理下列表默认一最多待选页码数-->
    <add key="DefaultPageNumber" value="6"/>
    <!--操作DB-->
    <add key="DBService" value="bee"/>
    <add key="DBSetClient" value="bee"/>
    <add key="DBSetClientKey" value="chinavb234123489"/>
    <!--是否针对域名启用Cookie-->
    <add key="IsUrlCookie" value="true"/>
    <add key="Yingyan_CookieUrl" value="yingyan.baomihua.com"/>
    <add key="Yingyan_CookieName" value="yingyan.baomihua.com"/>
    <!--连接redis的配置：
        Development 开发
        Production 生产
        -->
    <add key="ConnectType" value="Production"/>
    <!--权限控制-可编辑名单-初级-->
    <add key="PermissionList" value="2,7,8,9,21,48,65,92"/>
    <!--mongodb程序池名-->
    <add key="MongoPoolName" value="PMH.TEST"/>
  </appSettings>
</configuration>